$header_color: #0C0E35
$header_inner: #141752
$header_logo: white
$header_btn: #A0009A
$header_btn_hover: #5F0061
$header_span: #A0009A
$header_text: white

$nav_text: white
$nav_text_active: #A0009A
$nav_ul: #0C0E35

$advanteges_bg: #141745
$advanteges__title: white
$advanteges-frame: #7A0058

$advanages_card_main: #191B53
$advanages_card_text: white

$product_lines_bg: #141752
$product_lines_title: white

$product_card: #3F2D716B
$product_card_title: white

$pagination_btn: #740038
$pagination_btn_text: white

$footer_text: white
$footer_bg: #0F0E0E
$footer_social: rgba(255, 255, 255, 0.5)
$footer_social_hover: rgba(255, 255, 255, 1)