.advanteges
  background: $advanteges_bg
  padding-bottom: 2%
  .advanteges__title
    color: $advanteges__title
    text-align: center
    padding: 20px 0px 64px 0px
  .advanteges__container
    display: flex
    justify-content: space-between