.header
  font-family: Roboto
  font-style: normal
  font-weight: normal
  display: flex
  flex-direction: column
  height: 70vh
  background: $header_color

@media all and (max-width: 993px)
  .header
    height: 55vh
@media all and (max-width: 769px)
  .header
    height: 50vh
@media all and (max-width: 567px)
  .header
    height: auto